server:
  port: 8081

spring:
  application:
    name: auth-service

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG
    com.zaxxer.hikari: INFO

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
