server:
  port: 8080

spring:
  application:
    name: clay.pot-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: auth-service
          uri: lb://AUTH-SERVICE
          predicates:
            - Path=/auth/**
#          filters:
#            - StripPrefix=1
        - id: habit-service
          uri: lb://HABIT-SERVICE
          predicates:
            - Path=/habits/**


eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
